name: {{app_name}}
description: "A Flutter project powered by Flux framework."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.11.4

dependencies:
  flutter:
    sdk: flutter

  # Flux Framework Core
  flux_core:
    path: ../packages/flux_core

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true